<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
        <link rel="stylesheet" href="css/main.css" type="text/css">
    </head>
    <body>
        <div id="root">
            <form v-on:submit="test">
                <div><p class="title">우리 동네에 신종 코로나 환자가 지나갔을까?</p></div>
                <div>
                    <div class="col-75">
                        <input type="text" ref="answer" v-model="input" placeholder="성남 분당">
                    </div>
                    <div class="col-25">
                        <button type="submit" >입력</button>
                    </div>
                </div>
                <div class="clear">
                    <ul>
                        <li v-for="item in items">
                            <p class="plain-text"><span>환자 #{{item.number}} ({{item.age}}세 {{item.sex}}, {{item.nationality}}) 확진일자: {{item.date}} 입원기관: {{item.hospital}}, 접촉자(격리자): {{item.Contacts}}({{item.Quarantine}})</span></p>
                            <ul>
                                <li v-for="r in item.route">
                                    <p class="plain-text" v-html="r">{{r}}</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>