<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    
    <body>
        <div id="root">
            <form v-on:submit="test">
                <div>우리 동네에 코로나 환자가 지나갔을까? </div>
                <input type="text" ref="answer" v-model="input"> <button type="submit" >입력</button>
                <div>
                    <ul>
                        <li v-for="item in items">
                            <h5>{{item.title}}</h5>
                            <ul>
                                <li v-for="r in item.route">
                                    {{r}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </body>
    <script>
        const app = new Vue({
            el: '#root',
            data: {
                items: [],
                input: "",
                result: "",
            },
            methods: {
                test: function(e) {
                    e.preventDefault();
                    let inputs = this.input.split(' ').slice(0,2) 
                    getData(this, inputs, function(obj, data) {
                        let result = JSON.parse(data)
                        obj.input = "";
                        obj.items = result
                        obj.$refs.answer.focus();
                    })
                },
            },
        });

        var getData = function(obj, search, callback) {
            let xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if(xhr.readyState === xhr.DONE) {
                    if(xhr.status === 200 || xhr.status === 201) {
                        callback(obj, xhr.responseText)
                    }
                }
            }
            let url = "http://localhost:8000/v1/search";
            switch(search.length) {
                case 0:
                    break;
                case 1:
                    url += "/" + search[0]
                    break;
                case 2:
                    url += "/" + search[0] + "/" + search[1]
            }

            xhr.open('GET', url)
            xhr.send()
        }
    </script>
</html>
